body {
  background-color: #08090a;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #f7f8f8;
  font-family: "Lexend", sans-serif;
  font-weight: 350;
  font-style: normal;
}

#header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#header2 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #000;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  overflow: hidden;
  height: 40px;
  padding-top: 15px;
}

#header2 a {
  color: white;
  padding: 12px 24px;
  font-size: 18px;
}

#background_image {
  background-image: url("https://i.postimg.cc/1t1hzRGD/IMG-4653.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: block;
}

#homeText {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  padding: 0.01em 16px;
  bottom: 0;
}

#home {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

#home img {
  height: 55px;
  width: auto;
}
#header2 {
  height: 70px;
  padding-top: 0;
  align-items: center;
}

.projects {
  padding: 64px 32px;
  background-color: #23272a;
}

h3.projects {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#projectsPics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#default {
  text-align: center;
  color: white;
  font-size: 18px;
}
#pDesc {
  width: 30%;
}

.planning {
  padding: 64px 32px;
  background-color: #2c2f33;
}

h3.planning {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 8px 16px;
  width: 300px;
  font-size: 40px;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
}
button:hover {
  filter: opacity(50%);
}

.lessons {
  background-color: #99aab5;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.funding {
  background-color: #36393f;
  padding: 64px 32px;
}

.contact {
  padding: 32px 32px;
}
