body {
  background-color: #08090a;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #f7f8f8;
  font-family: "Lexend", sans-serif;
  font-weight: 350;
  font-style: normal;
}

#header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#header2 {
  color: #fff;
  background: #000;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  overflow: hidden;
  height: 40px;
  padding-top: 15px;
}

#header2 a {
  color: white;
  padding: 12px 24px;
  font-size: 18px;
}

#background_image {
  background-image: url("https://i.postimg.cc/1t1hzRGD/IMG-4653.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: block;
}

#homeText {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  padding: 0.01em 16px;
  bottom: 0;
}
